@charset "utf-8";

.wrapper {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: 'Gorditas', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    display: flex;
    align-items: center;
}

h2::before,
h2::after {
    content: "";
    border-top: 1px dotted #5a5a5a;
    flex-grow: 1;
}

h2::before {
    margin-right: 30px;
}

h2::after {
    margin-left: 30px;
}


.header-logo-area {
    text-align: center;
}

.header-logo {
   font-family: 'Gorditas', cursive;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   font-size: 35px;
   margin: 30px 0 15px 0;
}

.logo-text {
    font-size: 13px;
    color: #5a5a5a;
}

.header-nav {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(189, 186, 186,.7);
    background-color: white;
    z-index: 10;
}

.header-lists {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header-list {
    margin-left: 12px;
    border-radius: 4px;
    padding: 4px;
    color: #5a5a5a;
    font-size: 15px;
    transition-duration: .2s;
}

.header-list:hover{
    background-color: rgba(204, 204, 204,.8);
}

/* mainここから */
.main {
    width: 100%;
}

.top-image-area {
    background-image: url(../imgs/150728215715topimage.jpg);
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-image-text {
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lead {
    margin: 60px auto 0 auto;
}

.lead-text {
    text-align: center;
    line-height: 1.8;
}

/* informationここから */
.information {
     margin-top: 100px;  
}

.information-title {
    font-size: 30px;
}


.info-contents {
    width: 900px;
    margin: 80px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.info-content {
    width: 350px;
    display: inline-block;
    display: flex;
    transition-duration: .2s;
}

.info-content:hover {
    opacity: .7;
    transform: scale(1.05);
}

.info-wrapper {
    display: flex;
}

.info-image-area {
    width: 50%;
    display: inline-block;
}

.info-image {
    width: 100%;
    display: inline-block;
}

.info-text-area {
    display: inline-block;
    width: 50%;
    margin-left: 8px;
}

.info-text-area p {
    text-align: left;
    font-size: 18px;
    color: #3f3f3f;
}

.info-text {
    margin-top: 8px;
    line-height: 1.4;
}

.detail-link {
    text-align: right;
    width: 960px;
    margin: 20px auto 0 auto;
    position: relative;
}

.detail-link a {
    position: absolute;
    top: 0;
    right: 20px;
}

.detail-link a::after {
    content: '';
        width: 8px;
        height: 8px;
        border-top: solid 2px #111111;
        border-right: solid 2px #080808;
        position: absolute;
        left: 85px;
        top: 0px;
        transform: rotate(45deg);
}


/* photoここから */
.photo {
    margin-top: 100px;
}

.photo-title {
    font-size: 30px;
}

.photo-contents {
    display: flex;
    width: 950px;
    height: 150px;
    margin: 70px auto 0 auto
}

.photo-area {
    width: 20%;
    height: 100%;
    margin-left: 8px;
}

.photo-area img {
    width: 100%;
    height: 100%;
}


/* mapここから */
.access {
    margin-top: 100px;
}

.access-title {
    font-size: 30px;
}

.map {
   width: 950px;
   height: 500px;
   margin: 80px auto 0 auto;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.access-detail {
    margin: 70px auto 0 auto;
    width: 650px;
    font-size: 18px;
}

.access-detail th {
    border-bottom: 1px dotted #5a5a5a;
    border-right: 1px dotted #5a5a5a;
    color: #2b2b2b;
    font-size: 16px;
}

.access-detail td {
    border-bottom: 1px dotted #5a5a5a;
    color: #5a5a5a;
    font-size: 14px;
}

.access-detail th,
.access-detail td {
    padding: 20px;
}

.access-detail th {
    width: 35%;
}

.access-detail td {
    width: 65%;
}

/* contactここから */
.contact {
    margin-top: 100px;
}

.contact-title {
   font-size: 30px;
}

.contact-form {
    width: 650px;
    margin: 70px auto 0 auto;
}

.contact-form p {
    font-size: 18px;
    margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    border-color: #e0e0e0;
    border-style: solid;
    font-size: 18px;
    line-height: 1.1;
}

.contact-form textarea {
    height: 150px;
}

.contact-button {
    display: block;
    width: 100%;
    line-height: 2.5;
    font-size: 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 2px;
    transition-duration: .2s;
} 

.contact-button:hover {
    background-color: rgba(253, 200, 209,.7);
}

/* footerここから */
.footer {
    border-top: 1px dotted #5a5a5a;
    margin-top: 85px;
    padding-bottom: 100px;
}

.footer-inner {
    margin-top: 50px;
    text-align: center;
}

.sns-icons {
    font-size: 28px;
}

.fa-facebook-f,
.fa-twitter {
    padding: 8px;
    transition-duration: .2s;
}

.fa-twitter {
    margin-right: 8px;
}

.fa-facebook-f:hover,
.fa-twitter:hover {
    background-color: rgba(204, 204, 204, .8);
}

.footer-logo {
    font-family: 'Gorditas', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 18px;
    margin-bottom: 18px;
}

.scroll-top {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: rgb(202, 202, 202);
    opacity: 0.8;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.show{
    display: block;
}

.fa-angle-up {
    font-size: 20px;
    color: #080808;
}

@media(max-width:950px) {

    .header-logo {
        margin-top: 16px;
    }

    .header-lists {
        margin-top: 18px;
    }

    .top-image-area {
        height: 330px;
    }

    .top-image-text {
        font-size: 24px;
        width: 100%;
    }

    .information,
    .photo,
    .access,
    .contact {
        margin-top: 60px;
    }

    .information-title,
    .photo-title,
    .access-title,
    .contact-title {
        font-size: 26px;
    }

    .info-contents,
    .photo-contents,
    .map,
    .contact-form {
        margin-top: 60px;
    }

    .lead-text {
        font-size: 15px;
    }

    .detail-link a {
        position: absolute;
        top: 0;
        right: 15px;
    }
    
    .detail-link a::after {
        content: '';
        width: 8px;
        height: 8px;
        border-top: solid 2px #111111;
        border-right: solid 2px #080808;
        position: absolute;
        left: 85px;
        top: 0px;
        transform: rotate(45deg);
    }

    .info-contents {
        flex-direction: column;
        align-items: center;
        width: 580px;
    }

    .info-content:last-of-type {
        margin-top: 20px;
    }

    .info-text-area p {
        font-size: 15px;
    }

    .info-image-area {
        width: 45%;
    }

    .detail-link {
        width: 580px;
    }

    .photo-contents {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 580px;
    }
    .photo-area {
        width: 580px;
        height: 155px;
    }

    .photo-contents img {
        width: 185px;
        height: 155px;
    }

    .map {
        width: 580px;
        height: 300px;
        margin-top: 30px auto 0 auto;
    }

    .access iframe {
        width: 100%;
        height: 100%;
    }

    .access-detail {
        width: 500px;
        margin-top: 30px;
    }
    
    .access-detail th,
    .access-detail td {
        font-size: 14px;
        padding: 14px;
    }

    .contact-form {
        width: 550px;
    }

    .contact-form p {
        font-size: 17px;
    }

    .footer {
        margin-top: 40px;
        padding-bottom: 40px;
    }

}

@media(max-width:650px) {

    .header {
        top: 0;
        left: 0;
        width: 100%;
    }

    .header-nav {
        display: none;
    }

    .lead,
    .information,
    .photo,
    .access,
    .contact {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .information-title,
    .photo-title,
    .access-title,
    .contact-title {
        font-size: 22px;
    }

    .info-contents,
    .detail-link,
    .photo-contents,
    .map,
    .access-detail,
    .contact-form {
        width: 100%;
    }

    .header-logo {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 26px;
    }

    .header-logo-area {
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
        border-bottom: 1px solid rgba(189, 186, 186, .7);
        padding: 2px 0 10px 0;
        z-index: 10;
    }

    .logo-text {
        font-size: 8px;
    }

    .top-image-area {
        height: 280px;
    }

    .top-image-text {
        font-size: 18px;
    }

    .lead {
        margin-top: 40px;
    }

    .lead-text {
        font-size: 12px;
    }

    .detail-link {
        font-size: 14px;
    }

    .detail-link a {
        position: absolute;
        top: 0;
        right: 15px;
    }
        
    .detail-link a::after {
        content: '';
        width: 8px;
        height: 8px;
        border-top: solid 2px #111111;
        border-right: solid 2px #080808;
        position: absolute;
        left: 75px;
        top: 0px;
        transform: rotate(45deg);
     }

    .info-image-area {
        width: 35%;
    }

    .info-text-area p{
        font-size: 12px;
    }

    .map iframe {
        height: 260px;
    }

    .access-detail {
        margin-top: 0;
    }

    .access-detail th,
    .access-detail td {
        font-size: 11px;
        padding: 12px;
    }

    .contact-form p {
        font-size: 14px;
    }

    .contact-form input {
        height: 24px;
    }

    .contact-form textarea {
        height: 100px;
    }

    .contact-button {
        font-size: 14px;
        line-height: 2.5;
    }

    .footer {
        padding-bottom: 60px;
    }

    .footer-inner {
        margin-top: 30px;
    }

    .sns-icons {
        font-size: 18px;
    }

    .footer-logo {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copywrite {
        font-size: 10px;
    }

}